body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(146, 168, 209);
}
#chat {
  width: 35%;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow-y: auto;
  margin: 20px auto;
  padding: 40px;
  text-align: left;
  background-color: white;
  box-shadow: 5px 5px 10px lightgray;
}

#message {
  width: 26%;
  padding: 12px;
  border: 2px solid #999;
  border-radius: 8px;
  box-shadow: 1px 1px #ccc;
}

.messageleft,
.messageright {
  display: block;
  padding: 11px 17px;
  max-width: 80%;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 8px;
  text-align: left;
  word-wrap: break-word;
  color: black;
}

.messageleft {
  background-color: #bababa;
}

.messageright {
  background-color: #63ad83;
  margin-left: auto;
  margin-right: 0;
}

.buttonleft,
.buttonright {
  padding: 12px 18px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: whitesmoke;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.buttonleft {
  border: 2px solid #4a90e2;
  background-color: #4a90e2;
}

.buttonleft:hover {
  background-color: #357abd;
  border-color: #969a9e;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.buttonright {
  border: 2px solid #e74c3c;
  background-color: #e74c3c;
}

.buttonright:hover {
  background-color: #c0392b;
  border-color: #c0392b;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
